.modal-backdrop {
  position: fixed;
  z-index: 1050;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.32);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-backdrop {
  pointer-events: auto;
}
.modal-dialog {
  pointer-events: auto;
}
